#flejeSup {

  line-height: 0.1;
  background-color: #3490dc;

}

.minheight{
  min-height: 80vh;
}


#buscador {
  width: 100%;

}


.tendencias{
  margin-top: 0.5em;
}

.botonBuscar{
      margin-top: 0.4em;}
}
